<body>
    <header>

    </header>
    <main style="color: white;">

        <div>
            {{receitaLogada.nome}}
        </div>

        <div>
            <img [src]="receitaLogada.imgUrl" alt="">
        </div>

        <div>
            /*nota - ainda vai ser feita
        </div>

        <div>
            ingredientes: {{receitaLogada.ingrediente}}
        </div>

        <div>
            Passo a passo: {{receitaLogada.passoApasso}}
        </div>

        <div>
            comentarios: {{receitaLogada.comentario}}
        </div>

        <div>
            <img [src]="heart" alt="image" width="100px" height="100px" (click)="favorita($event)">
        </div>

    </main>
</body>