<body (click)="desligaCard($event)">
    <header class="cabecalhoRegister">
  
      <div class="cabecalhoLOGO">
        <div>
          <div class="a">
            <a class="logo" href="http://localhost:4200/Inicio">Cook With Me</a>
          </div>
        </div>
      </div>
  
      <div class="cabecalhoPAGINAS">
        <div class="container">
          <div>
            <a class="a" href="http://localhost:4200/addReceita">Adicionar Receita</a>
          </div>
        </div>
  
        <div>
          <div (click)="showCategorias()">
            <div>
              <a class="a">Categorias</a>
            </div>
            <div *ngIf="mostraMenuCat" class="itens">
              <h5 class="item">Doces</h5>
              <h5 class="item">Salgados</h5>
            </div>
          </div>
        </div>
  
        <div>
          <div (click)="showMenuconfig()">
            <div>
              <a class="a">Configurações</a>
            </div>
            <div *ngIf="mostraMenuconfig" class="itens">
              <a href="http://localhost:4200/Perfil-Geral">
                <h5 class="item">Geral</h5>
              </a>
              <h5 class="item">Privacidade</h5>
              <a href="http://localhost:4200/Favoritas">
                <h5 class="item">Favoritos</h5>
              </a>
            </div>
          </div>
        </div>
  
        <div class="container">
          <div *ngFor="let imgs of userFoto">
            <a href="http://localhost:4200/Perfil"><img class="foto" [src]="imgs.foto" alt=""></a>
          </div>
        </div>
      </div>
    </header>

    <main>
        <div class="write">
            <h2>Ola {{Usuario.nome}}, seja bem vindo(a) de volta</h2>
        </div>
        <div class="box">

            <div class="intobox">

                <div class="write">

                    <h2>Atualmente seu perfil possui {{nota}} estrelas. Vamos cozinhar!!</h2>

                </div>

                <div class="write">
                    <h1>{{nota}}/5</h1>
                </div>

                <div class="write">
                    <h3>Suas receitas:</h3>
                </div>

                <div class="imagens">
                    <div *ngFor="let img of slide">
                      <img class="img" [src]="img.imgUrl" alt="" (click)="salvaImagem(img)">
                      <h5 class="write">{{img.nome}}</h5>
                    </div>
                </div>
            </div>

        </div>

    </main>
    
</body>