<body (click)="desligaCard($event)">
  <header class="cabecalhoRegister">

    <div class="cabecalhoLOGO">
      <div>
        <div class="a">
          <a class="logo" href="http://localhost:4200/Inicio">Cook With Me</a>
        </div>
      </div>
    </div>

    <div class="cabecalhoPAGINAS">
      <div class="container">
        <div>
          <a class="a" href="http://localhost:4200/addReceita">Adicionar Receita</a>
        </div>
      </div>

      <div>
        <div (click)="showCategorias()">
          <div>
            <a class="a">Categorias</a>
          </div>
          <div *ngIf="mostraMenuCat" class="itens">
            <h5 class="item">Doces</h5>
            <h5 class="item">Salgados</h5>
          </div>
        </div>
      </div>

      <div>
        <div (click)="showMenuconfig()">
          <div>
            <a class="a">Configurações</a>
          </div>
          <div *ngIf="mostraMenuconfig" class="itens">
            <a href="http://localhost:4200/Perfil-Geral">
              <h5 class="item">Geral</h5>
            </a>
            <h5 class="item">Privacidade</h5>
            <a href="http://localhost:4200/Favoritas">
              <h5 class="item">Favoritos</h5>
            </a>
          </div>
        </div>
      </div>

      <div class="container">
          <a href="http://localhost:4200/Perfil"><img class="foto" [src]="Usuario.foto" alt=""></a>
      </div>
    </div>
  </header>
  
    <div style="margin-top: 3rem;">
      <h1 style="margin-top: 40px; margin-left: 50px;">Favoritas</h1>
    </div>
    <div class="imagens">
        <div *ngFor="let img of slide">
            <img class="img" [src]="img.imgUrl" alt="" (click)="salvaImagem(img)">
            <h3>{{img.nome}}</h3>
        </div>
    </div>
  </body>