.img{
    width: 280px;
    height: 280px;
    border-radius: 15px;
    border: 2px solid white;
    cursor: pointer;  
}

.vid{
    width: 180px;
    height: 180px;
    border-radius: 15px;
    border: 2px solid white;  
}
.imagens{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.nameImage{
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

.nomeDaReceita{
    color: white;
    display: flex;
    justify-content:space-between;
    font-size: xx-large;
  }

  .quebralinha{
    display: flex;
    word-wrap: break-word;
    width: 500px;
    justify-content: center;

  }
  .nomeElike{
    display: flex;
    justify-content: space-between;
  }

  .comentariosBox{
    color: rgb(216, 214, 214);
    width: 7.5rem;
    height: 15rem;
    background-color: rgba(95, 46, 31, 0.99);
    border-radius: 20px;
    overflow: auto;
  }

.search{
    display: flex;
    align-items: center;
    background-color: #5F2E1F;
    display: grid;
    width: 500px;
    height: 40px;
    border-radius: 100px;
}

.searchBox{
    display: flex;
    justify-content: center;
}

input{
    background-color: transparent;
    border: transparent;
    text-decoration: none;
    color: whitesmoke;
    width: 470px;
    margin-left: 15px;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

h1,h2{
    margin-right: 10px;
    margin-left: 20px;
    color: whitesmoke;
}

h3{
    margin-right: 10px;
    margin-left: 20px;
    color: whitesmoke;
    text-decoration: solid;
}

.addReceita{
    text-decoration: underline;
    color: whitesmoke;

}

.imagens > div > h5{
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
}

.box{
    width: 12rem;
    margin-top: 10px;
    background-color: #bebebe;
    height: 12rem;
    overflow: auto;
    border-radius: 20px;
}

.userEnota{
    display: flex;
    width: 8rem;
    justify-content: space-between;
    margin-left: 5px;
}

.flex{
    padding: 15px;
}






