<header class="cabecalho">
    <div class="cabecalhoLOGO">
      <a class="logo" href="http://localhost:4200/Inicio" class="a">Cook With Me</a>
    </div>
    <div class="cabecalhoPAGINAS">
        <a class="categorias" href="" class="a">Categorias</a>
        <a class="adicionarReceita" href="http://localhost:4200/addReceita" class="a">Adicionar Receita</a>
        <a href="notificoes" href="" class="a"><img src="" alt="">FALTA A IMAGEM</a>
        <a href="configuracoes" href="" class="a"><img src="" alt="">FALTA A IMAGEM</a>
        <a href="fotoDePerfil" href="" class="a"><img src="" alt="">FALTA A IMAGEM</a>
    </div>
</header>
<body>
  <br>
  <div class="searchBox">
    <div class="search">
      <input type="text" name="search" placeholder="O que vamos preparar hoje?">
    </div>
  </div>
  <div>
    <H1>Bem vindo ao Cook with me!</H1>
    <h3>Conheça as receitas mais procuradas por chefes</h3>
    <h1>Destaques</h1>
  </div>
  <div>
    <img class="img" *ngFor="let img of slide" [src]="img.imgUrl" alt="" (click)="salvaImagem(img)">
  </div>
</body>