<header class="cabecalho">
    <div class="cabecalhoLOGO">
      <a class="logo" href="http://localhost:4200/Inicio">Cook With Me</a>
    </div>
    <div class="cabecalhoPAGINAS">
        <a class="categorias" href="">Categorias</a>
        <a class="adicionarReceita" href="http://localhost:4200/addReceita">Adicionar Receita</a>
        <a href="notificoes" href=""><img src="" alt="">FALTA A IMAGEM</a>
        <a href="configuracoes" href=""><img src="" alt="">FALTA A IMAGEM</a>
        <a href="fotoDePerfil" href=""><img src="" alt="">FALTA A IMAGEM</a>
    </div>    
</header>
<body>
    <div>
            <img class="img" *ngFor="let img of slide" [src]="img.imgUrl" alt="">
    </div>
        
 
</body>