<body>
        <div class="boxLogin">
            <h1 class="login">
                Login
            </h1>
            <div class="dadosLogin">
                <input type="text" name="email" placeholder="email" [(ngModel)]="Usuario.email">
                <input type="text" name="senha" placeholder="senha" [(ngModel)]="Usuario.senha">
            </div>
            <br>
            <br>
            <div class="confirmarLogin">
                <button (click)="logar()">Entrar</button>
            </div>
        </div>
</body>