<header class="cabecalhoRegister">
  <div class="cabecalhoLOGO">
    <div>
      <div class="a">
            <a class="logo" href="http://localhost:4200/login">Cook With Me</a>
        </div>
    </div>
  </div>  
    <div class="cabecalhoPAGINAS">
      <div>
        <a class="resgistar" href="http://localhost:4200/registrar" class="a">Registrar</a>
        <a class="loginc" href="http://localhost:4200/login" class="a">Login</a>
      </div>
    </div>    
</header>
<body>
        <div class="boxLogin">
            <h1 class="login">
                Login
            </h1>
        <div class="dadosLogin">
            <input type="text" name="email" placeholder="email" [(ngModel)]="Usuario.email">
            <input type="password" name="senha" placeholder="senha" [(ngModel)]="Usuario.senha">
        </div>
        <br>
        <br>
        <div class="confirmarLogin">
            <button (click)="logar()">Entrar</button>
        </div>
        </div>
</body>