.img{
    width: 280px;
    height: 280px;
    border-radius: 15px;
    border: 2px solid white;  
    margin-top: 3rem;
}

.imagens{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 6%;
    flex-wrap: wrap;
}

.search{
    display: flex;
    align-items: center;
    background-color: #5F2E1F;
    display: grid;
    width: 500px;
    height: 40px;
    border-radius: 100px;
}

.searchBox{
    display: flex;
    justify-content: center;
}

input{
    background-color: transparent;
    border: transparent;
    text-decoration: none;
    color: whitesmoke;
    width: 470px;
    margin-left: 15px;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

h1,h2{
    margin-right: 10px;
    margin-left: 20px;
    color: whitesmoke;
}

h3{
    margin-right: 10px;
    margin-left: 20px;
    color: whitesmoke;
    text-decoration: solid;
}

.addReceita{
    text-decoration: underline;
    color: whitesmoke;

}

.imagens > div > h5{
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
}