.sla{
  width: 400px;
  height: 350px;
  background-color: white;
  border-radius: 20px;
}

.nomeDaReceita{
  color: black;
  padding-left: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sla > div > img{
  padding: 10px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  width: 362px;
  height: 344px;
  border-radius: 30px;
}

.sla > div > video {
  padding: 10px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  width: 402px;
  height: 344px;
  margin-top: -15px;
  border-radius: 30px;
}

.addFotoEnome{
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  display: grid ;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.left{  
  float: left;
  margin: 20px;

}

.confirmar{
  display: block;
  width: 230px;
  padding: 20px;
  background-color: #4CAF50;
  color: black;
  border: black;
  border-radius: 4px;
  cursor: pointer;
}


.confirmar:hover{
  background-color: #45a049;
}

.flexConfirma{
  display: flex;
  height: 10rem;
  flex-direction: column-reverse;
  align-items: center;
}

.imagemEvideo{
  margin-left: 10px;
  display: flex;


}

.right{
  float: right;
  margin: 0;
}


.inputIngredientes{
  width: 10rem;
  height: 30rem;
}

.opcoes{
  color: rgb(25, 243, 6);
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.opcao{
  background-color: rgba(95, 46, 31, 0.99); 
  color: rgb(216, 215, 215);
  border-radius: 50px;
  width: 13rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opcao:hover{
  text-decoration: underline;
}

.a1{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.a5{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}

.a1{
  display: flex;
  justify-content: center;
}