<body>
    <main>
        <div>
            <div>
                <input type="text" name="nome da receita" [(ngModel)]="Receita.nome" placeholder="nome da receita">
                <input type="text" name="ingredientes" [(ngModel)]="Receita.ingrediente" placeholder="ingredientes">
                <input type="text" name="Passo a passo" [(ngModel)]="Receita.passoApasso" placeholder="Passo a passo">

                <br>
                <h1>Image</h1>
                <input type="file" accept="image/*" (change)="onFileSelected($event)">
                <div *ngIf="imageUrl">
                    <img [src]="imageUrl">
                </div>
                <br>
                <br>
                <h1>Video</h1>
                <br>
                <input type="file" accept="video/*" (change)="onFileSelectedVideo($event)">
                <br>
                <div *ngIf="videoUrl">
                    <video [src]="videoUrl" controls></video>
                </div>
            </div>
        </div>

        <div>

        </div>

        <div>
            <br>
            <button (click)="salvarReceita()">Confirmar</button>
        </div>
    </main>
</body>