@import url('https://fonts.googleapis.com/css2?family=Farro&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Farro', sans-serif;
}

input{
    text-decoration: color(black);
}

body{
    margin: 0%;
    background-image: url(https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

header{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

a{
    position: relative;
    text-decoration: none;
    color: #D9D9D9;
    font-size: 18px;
    letter-spacing: 0.5;
    padding: 0 10px;
  }

.a::after {
    content: "";
    position: absolute;
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
  }
  
  .a:hover::after {
    width: 100%;
  }
.cabecalho{
    background-color: #5F2E1F;
}

.cabecalhoLOGO{
    display: flex;
    justify-content: flex-start;
    margin-left: 3rem;
}

.cabecalhoPAGINAS{
    display: flex;
    column-gap: 3rem;
    margin-right: 3rem;
}