<body (click)="desligaCard($event)">
    <header class="cabecalhoRegister">
  
      <div class="cabecalhoLOGO">
        <div>
          <div class="a">
            <a class="logo" href="http://localhost:4200/Inicio">Cook With Me</a>
          </div>
        </div>
      </div>
  
      <div class="cabecalhoPAGINAS">
        <div class="container">
          <div>
            <a class="a" href="http://localhost:4200/addReceita">Adicionar Receita</a>
          </div>
        </div>
  
        <div>
          <div (click)="showCategorias()">
            <div>
              <a class="a">Categorias</a>
            </div>
            <div *ngIf="mostraMenuCat" class="itens">
              <a href="http://localhost:4200/categoria-Doces"><h5 class="item">Doces</h5></a>
              <a href="http://localhost:4200/categoria-Salgados"><h5 class="item">Salgados</h5></a>
            </div>
          </div>
        </div>
  
        <div>
          <div (click)="showMenuconfig()">
            <div>
              <a class="a">Configurações</a>
            </div>
            <div *ngIf="mostraMenuconfig" class="itens">
              <a href="http://localhost:4200/Perfil-Geral">
                <h5 class="item">Geral</h5>
              </a>
              <a href="http://localhost:4200/privacidade"><h5 class="item">Privacidade</h5></a>
              <a href="http://localhost:4200/Favoritas">
                <h5 class="item">Favoritos</h5>
              </a>
            </div>
          </div>
        </div>
  
        <div class="container">
          <a href="http://localhost:4200/Perfil"><img class="foto" [src]="Usuario.foto" alt=""></a>
        </div>
      </div>
    </header>
  
        <main>
          <div class="boxColor">
              <div class="box">
                  <div class="name">
                      <h2 style="margin-left: 18.5rem; text-decoration: underline;">Privacidade</h2>
                      <div style="margin-right: 10px;">
                          <a href="http://localhost:4200/Inicio"><img src="../../assets/imagens/voltar.png" width="35px" alt=""></a>
                      </div>
                  </div>
                  <div class="flexConfirma2">
                    <button class="inputp" (click)="ocultarReceitas()">Ocultar minhas receitas</button>
                    <br>
                    <button class="inputp" (click)="TirarOcultarReceitas()">Mostrar minhas receitas</button>
                    <br>
                    <button class="inputp" (click)="sair()">Sair da conta</button>
                  </div>
                  <br><br><br><br><br>
                  <div class="flexConfirma">
                      <button class="confirmar" (click)="novoUser(Csenha)">salvar alterações</button>
                  </div>
              </div>
          </div>  
        </main>
  </body>