<body>
    <main class="quadrado">
        <div>
            <h1 class="registrar">
                Registrar
            </h1>
            <input type="text" name="Nome" placeholder="Nome" [(ngModel)]="Usuario.nome">
            <input type="text" name="email" placeholder="email" [(ngModel)]="Usuario.email">
            <input type="text" name="senha" placeholder="senha" [(ngModel)]="Usuario.senha">
            <input [ngClass]="{'red': Csenha !== Usuario.senha, 'green': Csenha === Usuario.senha}" type="text" placeholder="confirma senha" [(ngModel)]="Csenha">
            <button (click)="novoUser(Csenha)">Cadastrar</button>
        </div>
        <div *ngFor="let user of usuarios;">
            <br>
            nome: {{user.nome}}
            <br>
            email: {{user.email}}
            <br>
            senha: {{user.senha}}
            <br>
        </div>
    </main>
</body>