<header class="cabecalhoRegister">
    <div class="cabecalhoLOGO">
        <div>
          <div class="a">
                <a class="logo" href="http://localhost:4200/registrar">Cook With Me</a>
            </div>
        </div>
    </div>  
    <div class="cabecalhoPAGINAS">
        <div>
            <a class="resgistrar" href="http://localhost:4200/registrar" class="a">Registrar</a>
            <a class="login" href="http://localhost:4200/login" class="a">Login</a>
        </div>
    </div>    
</header>

<body>
        <div class="boxRegistro">
            <h1 class="register">
                Registrar
            </h1>
            <div class="dadosRegistro">
                <input type="text" name="Nome" placeholder="Nome" [(ngModel)]="Usuario.nome">
                <input type="text" name="email" placeholder="email" [(ngModel)]="Usuario.email">
                <input type="password" name="senha" placeholder="senha" [(ngModel)]="Usuario.senha">
                <input [ngClass]="{'red': Csenha !== Usuario.senha, 'green': Csenha === Usuario.senha}" type="password" placeholder="confirma senha" [(ngModel)]="Csenha">
            </div>
            <br>
            <div class="confirmarRegistro">
                <button (click)="novoUser(Csenha)">Cadastrar</button>
            </div>
        </div>
</body>