
.red{
    border-color: red;
}

.green{
    border-color: green;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black
}
  
.register-container {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
}
  
.register {
    color: whitesmoke;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
  
input {
    display: block;
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 14px;
}
  
button {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: #45a049;
}
  
.boxRegistro{
    width: 377px;
    height: 341px;
    background: #5F2E1F;
    border-radius: 35px;
}

.dadosRegistro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmarRegistro{
    display: flex;
    justify-content: center;
}